# APPENDER TYPES: console, file, jdbc
# Default appender type is "console"
log.appender=jdbc

# LOG FILE (when appender type es file)
# Default file name is "soaIntLog.log"
log.file=demo.log

# LOG LEVEL: message, warning, error 
# Default level is message
# Herarchy level: message > warning > error
log.level=message

# JDBC connection properties file name (when appender type is jdbc)
log.jdbc=/home/sherlock/Workspaces/StsWorkspace/soaint-logger/src/main/resources/db.properties
